/* Home */
* {
    margin: 0;
    padding: 0;
    font-family: Candara;
}

.logo{
    margin-top: 3%;
    margin-bottom: -5%;
    margin-left: 3%;
}

header{
    margin-bottom: 5%;
}

header img {
    width: 30%;
}

nav
{
    height: 80px;
    width: 100%;
}
nav ul 
{
    float: right;
    margin-right: 20px;

}

nav ul li 
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a
{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 15px;
    list-style: none;
    text-decoration: none;
}
nav a:hover
{
    background: #fff;
    transition: .5s;
}
.checkbtn
{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;

}

.container1 h2
{
    font-size: 20px;
    height: 30%;
}

.container img {
    margin-top: 3%;
    width: 100%;
    height: 80vh;
}


main h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 2%;
    color: lightcoral;
}

main h1 span {
    color: darkgreen;
}

body {
    background: linear-gradient(210deg, #21ff51 50%, #fff 50%);
    background-repeat: no-repeat;
}

#europe_img {
    width: 30%;
}

.card {
    text-align: center;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

.card img {
    width: 100%;
}

.card h2 {
    position: relative;
}

.card button {
    width: 100%;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.nieuws {
    font-size: 3vw;
}

.card button:hover {
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
}

.Lees {
    padding: 12px 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.Lees:hover {
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
}

.LEEES {
    margin-top: 5%;
    text-align: center;
}

.standpunten {
    font-size: 3vw;
    text-shadow: 1px 1px 1px #fff,
        3px 3px 5px #21ff51;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
}

footer {
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: #21ff51;
    text-align: center;
}

footer ul {
    list-style: none;
    text-decoration: none;
}

footer ul li {
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

footer ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 22px;
    color: black;
    border-radius: 15px;
}

footer ul li a:hover {
    background-color: #fff;
}
.mainitto h1
{
    font-size: 50px;
    margin-bottom: 20px;
}

#Form {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;

    font-size: 25px;
}

.btn {
    padding: 7px 15px;
    grid-column: 2;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.btn:hover {
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
}

.btn1 a
{
    padding: 15px 25px;
    grid-column: 2;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    text-decoration: none;
    list-style: none;
    color: #fff;  
    border: 1px solid black;  
}
.btn1 a:hover
{
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
}
.container3 {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
}

.container3 h1 {
    color: black;
    font-size: 3vw;
}

.container3 p {
    font-size: 18px;
}
#Form input
{
    width: 100%;
}

#Form1 {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

#Form1 input[type=submit] {
    grid-row: 6;
    grid-column: 2/5;
}

.main1 {
    text-align: center;
}

.main1 h2 {
    font-size: 3vw;
}

.container4 {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.container4 img {
    width: 100%;
    height: 150%;
}

#Form2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

input[type=text],
input[type=number],
input[type=email],
input[type=date] {
    border-radius: 15px;
}

.Img1 {
    max-height: 80%;
}

.container6 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.myTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  .myTable td {
    border: 1px solid black;
    padding: 12px;
    background-color: #f2f2f2;
  }
  
  .myTable td:hover {
    background-color: lightcoral;
    color: white;
        cursor: pointer;
  }
  .myTable th {
    border: 1px solid black;
    padding: 8px;
    background-color: #ef233c;
    font-weight: bold;
    color: #fff;
  }
.Donators
{
    text-align: center;
}
/* home */

/* leden */


/* leden */

/* standpunten */
.ee
{
    margin-top: 2%;
 font-size: 2.5vw;
 text-align: center;
}

.container5 {
    width: 100%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    text-align: center;
}

.container5 img {
    width: 100%;
}

.card1 {
    border-radius: 30px;
    background: #e0e0e0;

}

.card1 img {
    width: 100%;
    height: 90%;
}
.card1 h2
{
    font-size: 1.5vw;
}

/* standpunten */



/* popups*/

.popup-container
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index:1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}
.popup-container2
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index:1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}
.popup-container3
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index:1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}

.popup-container4
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index:1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}

.popup
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;

}
.popup img
{
    width: 100%;
    height: 50%;
    position: relative;

}

.popup2
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;

}
.popup2 img
{
    width: 100%;
    height: 50%;
    position: relative;
}

.popup3
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;

}
.popup3 img
{
    width: 100%;
    height: 50%;
    position: relative;

}

.popup4
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;

}
.popup4 img
{
    width: 100%;
    height: 50%;
    position: relative;

}

#img3
{
    height: 100%;
}
#close,#close1,#close2,#close3
{
    color: #ef233c;

}
#close:hover,#close1:hover,#close2:hover,#close3:hover
{
    cursor: pointer;
}

.popup-container.active
{
transform: scale(1);
    transition: all 800ms ease;  
}

.popup-container2.active1
{
    transform: scale(1);
    transition: all 800ms ease;  
}
.popup-container3.active2
{
    transform: scale(1);
    transition: all 800ms ease;  
}
.popup-container4.active3
{
    transform: scale(1);
    transition: all 800ms ease;  
}
/*popups*/
@media (max-width: 992px)
{
    .checkbtn
    {
        position: absolute;
        display: block;
        font-size: 40px;
        z-index: 6;
        color: black;
        width: 30px;
        height: 50px;
        border-radius: 15px;
        margin-left: 2%;
        bottom: 92%;
    }
    .checkbtn:hover
    {
        color: white;
    }
    nav ul{
        color: white;
        position: absolute;
        width: 100%;
        height: 110vh;
        background: linear-gradient(210deg, #21ff51 50%, #2c3e50 50%);
        left: -100%;
        text-align: center;
        z-index: 5;
        transition: all .5s;
        bottom: 1%;
        top: 1%;
    }
    nav ul li
    {
        display: block;
        line-height: -30px;
    }
    nav ul li a {
        font-size: 35px;
        color: rgb(118, 1, 190);
        font-weight: 900;
    }
    
   nav a:hover{
        background: none;
        color: #fff;
    }
    #check:checked ~ ul
    {
        left: 0;
        overflow-x: hidden;
    }

    
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
        background-color: #21ff51;
        text-align: center;
    }
    
    footer ul {
        list-style: none;
        text-decoration: none;
    }
    
    footer ul li {
        margin: 20px;
        text-transform: uppercase;
        letter-spacing: 0.12em;
    }
    
    footer ul li a {
        list-style: none;
        text-decoration: none;
        font-size: 22px;
        color: black;
        border-radius: 15px;
    }
    
    footer ul li a:hover {
        background-color: #fff;
    }
    footer-container
    {
     margin-top: 50%;
    }
    .logo 
   {
    width: 50%;
    margin-left: 25%;
   }
}

@media only screen and (max-width: 600px) {
    footer {
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: auto;
        background-color: #21ff51;
        text-align: center;
    }
    
    footer ul {
        list-style: none;
        text-decoration: none;
    }
    
    footer ul li {
        margin: 20px;
        text-transform: uppercase;
        letter-spacing: 0.12em;
    }
    
    footer ul li a {
        list-style: none;
        text-decoration: none;
        font-size: 22px;
        color: black;
        border-radius: 15px;
    }
    
    footer ul li a:hover {
        background-color: #fff;
    }
    footer-container
    {
     margin-top: 50%;
    }
    .logo 
    {
     width: 75%;
     margin-left: 15%;
    }
}
