body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(210deg, #21ff51 50%, #fff 50%);
    background-repeat: no-repeat;
    overflow: hidden;
}

body h1 {
    font-size: 4vw;
}

body button {
    padding: 15px 25px;
    grid-column: 2;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

body button:hover {
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
}