@media only screen and (min-width: 601px) and (max-width: 992px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 30px;
        row-gap: 100px;
    }
   
    .container img {
        margin-top: 3%;
        width: 100%;
        height: 80vh;
    }
   
    .container2
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 20px; 
    }
   
}
@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .container1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 30px;
        row-gap: 150px;
    }
   .standpunten
   {
    font-size: 6vw;
    text-align: center;
   }
    .container img {
        margin-top: 3%;
        width: 100%;
        height: 80vh;
    }
    .nieuws
    {
        text-align: center;
        font-size: 6vw;
    }
    .card {
        width: 100%;
        text-align: center;
        background: #e0e0e0;
        box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    }
    
    .card img {
        width: 100%;
    }
    
    .card h2 {
        position: relative;
    }
    
    .card button {
        width: 100%;
        padding: 8px 15px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #ffffff;
        background: #ef233c;
        box-shadow: inset 0 0 0 50px #ef233c;
        transition: ease-out 0.3s;
        -webkit-transition: ease-out 0.3s;
        -moz-transition: ease-out 0.3s;
    }
    
    .container2
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 20px; 
    }








    /* popups*/

.popup-container
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index:1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}
.popup-container2
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index:1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}
.popup-container3
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index:1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}

.popup-container4
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index:1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: scale(0);

}

.popup
{
    position: relative;
    width: 80%;
    height: 100%;
    background: #fff;
    display: flex;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;

}
.popup img
{
    width: 100%;
    height: 90%;
    position: relative;

}
.popup p,
.popup1 p,
.popup2 p,
.popup3 p 
{
    font-size: 20px;
}
.popup2
{
    position: relative;
    width: 80%;
    height: 100%;
    background: #fff;
    display: flex;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;

}
.popup2 img
{
    width: 100%;
    height: 90%;
    position: relative;
}

.popup3
{
    position: relative;
    width: 80%;
    height: 100%;
    background: #fff;
    display: flex;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;

}
.popup3 img
{
    width: 100%;
    height: 90%;
    position: relative;

}

.popup4
{
    position: relative;
    width: 80%;
    height: 100%;
    background: #fff;
    display: flex;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;

}
.popup4 img
{
    width: 100%;
    height: 100%;
    position: relative;

}

#img3
{
    height: 100%;
}
#close,#close1,#close2,#close3
{
    color: #ef233c;

}
#close:hover,#close1:hover,#close2:hover,#close3:hover
{
    cursor: pointer;
}

.popup-container.active
{
transform: scale(1);
    transition: all 800ms ease;  
}

.popup-container2.active1
{
    transform: scale(1);
    transition: all 800ms ease;  
}
.popup-container3.active2
{
    transform: scale(1);
    transition: all 800ms ease;  
}
.popup-container4.active3
{
    transform: scale(1);
    transition: all 800ms ease;  
}
/*popups*/
}