* {
    margin: 0;
    padding: 0;
}

header img {
    width: 30%;
}

header ul {
    margin-top: 2%;
}

header ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}

header ul li a {
    text-decoration: none;
    list-style: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding: 5px 10px;
    border-radius: 15px;
}

header ul li a:hover {
    background-color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container img {
    width: 75%;
    border-radius: 75%;
}

body {
    background: linear-gradient(210deg, #21ff51 50%, #fff 50%);
}

.container {
    width: 100%;
    height: 100vh;
}