* {
    margin: 0;
    padding: 0;
}

header img {
    width: 30%;
}

header ul {
    margin-top: 2%;
}

header ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}

header ul li a {
    text-decoration: none;
    list-style: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding: 5px 10px;
    border-radius: 15px;
}

header ul li a:hover {
    background-color: #fff;
}

.container {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
}
.container1
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
}

.container img {
    margin-top: 3%;
    width: 100%;
    height: 80vh;
}
main h1
{
    text-transform: uppercase;
    letter-spacing: 0.12em;
    text-align: center;
    margin-top: 2%;
  font-weight: 600;
    color: lightcoral;
}
main h1 span
{
    color: darkgreen;
}

body {
    background: linear-gradient(210deg, #21ff51 50%, #fff 50%);
}

#europe_img {
    width: 30%;
}
.card
{
    text-align: center;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
         
}
.card img
{
    width: 100%;
}
.card h2
{
 position: relative;   
}
.card button
{
    width: 100%;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}
  .nieuws
  {
    font-size: 3vw;
  }
  
.card button:hover {
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
  }
.Lees
  {
    padding: 12px 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
  }
  .Lees:hover
  {
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
  }
.LEEES
{
    margin-top: 5%;
    text-align: center;
}
.standpunten
{
    font-size: 3vw;
    text-shadow: 1px 1px 1px #fff, 
    3px 3px 5px #21ff51;
}
.container2
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;  
}
footer
{
    margin-top: 15%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
   background-color: #21ff51;
   text-align: center;
}
footer ul
{
    list-style: none;
    text-decoration: none;
}
footer ul li
{
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}
footer ul li a
{
    list-style: none;
    text-decoration: none;
    font-size: 22px;
    color: black;
    border-radius: 15px;
}
footer ul li a:hover{
    background-color: #fff;
}
.mainitto 
{
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vw;
}
#Form
{
    display: grid;
    grid-template-columns:0.2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}
.btn
{
    padding: 7px 15px;
    grid-column: 2;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}
.btn:hover
{
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
}
.container3
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr;
    text-align: center;
}
.container3 h1
{
    color: black;
    font-size: 4vw;
}

.container3 p
{
    font-size: 18px;
}


#Form1
{
    margin-top: 3%;
    display: grid;
    grid-template-columns:0.1fr 1fr 0.1fr 1fr;
    grid-template-rows:  1fr;
    gap: 10px;
}
#Form1 input[type=submit]
{
    grid-row: 6;
    grid-column: 2/5;
}
.main1
{
    text-align: center;
}
.main1 h2
{
    font-size: 3vw;
}
.container4
{
    margin-top: 5%;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
}
.container4 img
{
    width: 100%;
    height: 150%; 
}
#Form2
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

 input[type=text], input[type=number], input[type=email], input[type=date]
{
    border-radius: 15px;
}
