* {
    margin: 0;
    padding: 0;
}

header img {
    width: 30%;
}

header ul {
    margin-top: 2%;
}

header ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}

header ul li a {
    text-decoration: none;
    list-style: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding: 5px 10px;
    border-radius: 15px;
}

header ul li a:hover {
    background-color: #fff;
}

.container {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
}
.container1
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
}

.container img {
    margin-top: 3%;
    width: 100%;
    height: 80vh;
}
main h1
{
    text-transform: uppercase;
    letter-spacing: 0.12em;
    text-align: center;
    margin-top: 2%;
  font-weight: 600;
    color: lightcoral;
}
main h1 span
{
    color: darkgreen;
}

body {
    background: linear-gradient(210deg, #21ff51 50%, #fff 50%);
}

#europe_img {
    width: 30%;
}
.card
{
    text-align: center;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
         
}
.card img
{
    width: 100%;
}
.card h2
{
 position: relative;   
}
.card button
{
    width: 100%;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}
  .nieuws
  {
    font-size: 3vw;
  }
  
.card button:hover {
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
  }
.Lees
  {
    padding: 12px 25px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
  }
  .Lees:hover
  {
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
  }
.LEEES
{
    margin-top: 5%;
    text-align: center;
}
.standpunten
{
    font-size: 3vw;
    text-shadow: 1px 1px 1px #fff, 
    3px 3px 5px #21ff51;
}
.container2
{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;  
}