@media only screen and (min-width: 601px) and (max-width: 992px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .container1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 30px;
    }
   
    .container img {
        margin-top: 3%;
        width: 100%;
        height: 80vh;
    }
    
    .container2
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 20px; 
    }
   
}
