.eerstekamer-leden,.tweedekamer-leden,.Europees-parlement{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 1%;
}
h2,h3,h4{
    font-size: 300%;
    margin-top: 5%;
}
