* {
    margin: 0;
    padding: 0;
}

header img {
    width: 30%;
}

header ul {
    margin-top: 2%;
}

header ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}

header ul li a {
    text-decoration: none;
    list-style: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding: 5px 10px;
    border-radius: 15px;
}

header ul li a:hover {
    background-color: #fff;
}


main{
    margin-left: 100px;
    margin-right: 100px;
}
.eerstekamer-leden,.tweedekamer-leden,.Europees-parlement{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 1%;
}
h2,h3,h4{
    font-size: 300%;
    margin-top: 5%;
}
