main {
    margin-left: 100px;
    margin-right: 100px;
}

.eerstekamer-leden,
.tweedekamer-leden,
.Europees-parlement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin-top: 1%;
}

h2,
h3,
h4 {
    font-size: 300%;
    margin-top: 5%;
}

.leden-card {
    text-align: center;
    background: #e0e0e0;
   
}

.leden-card img {
    width: 100%;
}