main {
    margin-left: 100px;
    margin-right: 100px;
}

.eerstekamer-leden,
.tweedekamer-leden,
.Europees-parlement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin-top: 1%;
}

h2,
h3,
h4 {
    font-size: 300%;
    margin-top: 5%;
}

.leden-card {
    text-align: center;
    background: #e0e0e0;

}

.leden-card img {
    width: 100%;
}

/* Phone */
@media only screen and (max-width: 600px) {
    nav {
        display: grid;
    }

    nav ul {
        margin-top: 10px;
        list-style-type: none;
    }

    nav li {
        margin-bottom: 10px;
        grid-row: auto;
    }


    .eerstekamer-leden,
    .tweedekamer-leden,
    .Europees-parlement {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto);
        grid-column-gap: 5px;
        grid-row-gap: 10px;
        margin-top: 1%;
    }

    h2,
    h3,
    h4 {
        font-size: 150%;
    }

    main {
        margin-left: 20px;
        margin-right: 20px;
    }
}
/* Phone */

/* tablet */
@media only screen and (min-width: 601px) and (max-width: 992px) {

}
/* tablet */

/* desktop en groter */
@media only screen and (min-width: 993px) {

}
/* desktop */