*
{
    margin: 5px;
}
body
{
text-align: center;
overflow: hidden;
background-color: #e8e8e8;
}
body img{
    width: 50%;
}
form
{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
form input
{
    padding: 1 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}
form input:focus
{
    border-color: #ef233c;
    box-shadow: 0 0 0 0.2rem rgba(0, 206, 79, 0.25);
}
body button 
{
    padding: 5px 15px;
    grid-column: 2;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ef233c;
    box-shadow: inset 0 0 0 50px #ef233c;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}
body button:hover
{
    color: #ef233c;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ef233c;
    border-color: #ef233c;
    cursor: pointer;
}
.card
{
    position: relative;
    left: 40%;
    width: 300px;
    background-color: #fff;
    border-radius: 25px;
}
