main{
    margin-left: 4%;
    margin-right: 4%;
}
/* Phone */
@media only screen and (max-width: 600px) {

    .container5 {
        width: 100%;
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        text-align: center;
    }
}
/* Phone */

/* Phone */
@media only screen and (min-width: 601px) and (max-width: 992px)  {

    .container5 {
        width: 100%;
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        text-align: center;
    }
}
/* Phone */